
<table>

    <thead>
        <tr>
            <th>N.</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Acciones</th>
        </tr>
    </thead>

    <tbody>
        {{#each tasks}}
        <tr>
            <td>
                {{@index}}
            </td>
            <td>
                {{title}}
            </td>
            <td>
                {{description}}
            <td>
                <button>Realizado</button>
                <a href="/edit">Editar</a>
                <button>Eliminar</button>
            </td>
        </tr>
        {{/each}}
    </tbody>

</table>