<h1>Menu</h1>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">Acerca de</a></li>
        <li><a href="/edit">Editar</a></li>
        <li><a href="/delete">Eliminar</a></li>
    </ul>