    <h1>Menu</h1>
    <ul>
        <li><a href="/">Index</a></li>
        <li><a href="/about">about</a></li>
        <li><a href="/edit">edit</a></li>
        <li><a href="/delete"></a></li>
    </ul>